extends layout

block content
    if musica
        .w3-card-4
            header.w3-container.w3-light-blue
                h3 #{musica.tit}
        .w3-container
            .w3-row
                .w3-half.w3-container
                    label titulo
                    input.w3-input.w3-border.w3-light-grey(id="tit" type='text' name='tit' value=musica.tit required)
                .w3-half.w3-container
                    label Província
                    input.w3-input.w3-border.w3-light-grey(id="prov" type='text' name='prov' value=musica.prov required)
            .w3-row
                .w3-half.w3-container
                    label Localidade
                    input.w3-input.w3-border.w3-light-grey(id="local" type='text' name='local' value=musica.local required)
                .w3-half.w3-container
                    label Musico
                    input.w3-input.w3-border.w3-light-grey(id="musico" type='text' name='musico' value=musica.musico required)
            .w3-row
                .w3-half.w3-container
                    label Instrumentos
                    input.w3-input.w3-border.w3-light-grey(id="instrumentos" type="text" name="instrumentos" value=musica.inst)
                .w3-half.w3-container
                    label Ficheiros
                    input.w3-input.w3-border.w3-light-grey(id="ficheiros" type="text" name="ficheiros" value=musica.file)
            .w3-row.w3-container
                    label Observações
                    input.w3-input.w3-border.w3-light-grey(id="observacao" type="text" name="observacao" value=musica.obs)
            .w3-row.w3-container
                    input.w3-btn.w3-blue-grey(type='submit' onclick="editaItem('" + musica.id + "')" value='Editar Música')                     
        footer.w3-light-blue        
            address.w3-container
                a(href="/") Voltar à pagina inicial
    else 
        .w3-card-4
            header.w3-container.w3-light-blue
                h3 Adicionar música
        .w3-container
            form.w3-container(action="/adicionarMusica" method='Post').w3-container
                .w3-row
                    .w3-half.w3-container
                        label titulo
                        input.w3-input.w3-border.w3-light-grey(type='text' name='tit' required)
                    .w3-half.w3-container
                        label Província
                        input.w3-input.w3-border.w3-light-grey(type='text' name='prov' required)
                .w3-row
                    .w3-half.w3-container
                        label Localidade
                        input.w3-input.w3-border.w3-light-grey(type='text' name='local' required)
                    .w3-half.w3-container
                        label Musico
                        input.w3-input.w3-border.w3-light-grey(type='text' name='musico' required)
                .w3-row
                    .w3-half.w3-container
                        label Instrumentos
                        input.w3-input.w3-border.w3-light-grey(id="instrumentos" type="text" name="instrumentos")
                    .w3-half.w3-container
                        label Ficheiros
                        input.w3-input.w3-border.w3-light-grey(id="ficheiros" type="text" name="ficheiros")
                .w3-row
                    label Observações
                    textarea.w3-input.w3-border.w3-light-grey(type="text" name="observacao")
                .w3-row
                    input.w3-btn.w3-blue-grey(type='submit' value='Adicionar Música')                     
        footer.w3-light-blue        
            address.w3-container
                a(href="/") Voltar à pagina inicial